{% extends "layout.html" %}

{% block content %}
    {% for contest in contests %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">Дата конкурса {{ contest.date }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ contest.name }}</a></h2>
            <p class="article-content">{{ contest.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
